NODE_ENV=production
PORT=4000
APP_URL=https://seudominio.com
FRONTEND_URL=https://seudominio.com
JWT_SECRET=troque-por-um-segredo-longo-e-aleatorio

MERCADOPAGO_ACCESS_TOKEN=
MP_WEBHOOK_URL=https://api.seudominio.com/api/payments/webhook/mercado-pago

EMAIL_HOST=smtp.hostinger.com
EMAIL_PORT=465
EMAIL_USER=seu-email@seudominio.com
EMAIL_PASS=preencha-somente-no-server-.env
EMAIL_FROM=seu-email@seudominio.com
EMAIL_DISPLAY_NAME=Nome do seu site
EMAIL_SECURE=true
